{{>menu}}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{pageTitle}}</h1>
            {{#if message}}
                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>
            {{/if}}
            {{#if errorMessage}}
                <div class="alert alert-danger" role="alert">
                    {{errorMessage}}
                </div>
            {{/if}}
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/customize-trip" method="get" id="trip-form">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="sr-only" for="title">Title</label>
                            <input type="text" id="title" name="title" class="form-control" placeholder="Title*" value="{{tripDetails.name}}" required />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="sr-only" for="city">City</label>
                            <input type="text" id="city" name="city" class="form-control" placeholder="City*" value="{{tripDetails.city}}"required />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="sr-only" for="country">Country</label>
                            <input type="text" id="country" name="country" class="form-control" placeholder="Country*" value="{{tripDetails.country}}" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="number" id="price" name="price" class="form-control" placeholder="Price*" value="{{tripDetails.price}}" required />
                                <div class="input-group-addon">.00</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="sr-only" for="startDate">Start Date</label>
                            <input type="date" id="startDate" name="startDate" class="form-control" placeholder="Start Date*" value="{{formatDate tripDetails.startDate "YYYY-MM-DD"}}" required />
                            <span class="help-block"><strong>Start Date*</strong></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="sr-only" for="endDate">End Date</label>
                            <input type="date" id="endDate" name="endDate" class="form-control" placeholder="End Date*" value="{{formatDate tripDetails.endDate "YYYY-MM-DD"}}" required />
                            <span class="help-block"><strong>End Date*</strong></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Features</label>
                            {{#if featureList}}
                                {{#each featureList}}
                                    <div class="checkbox">
                                        <label>
                                            {{#ifPresentInArray ../featuresSelected this.featureID }}
                                                <input type="checkbox" id="{{this.featureID}}" name="feature[]" value="{{this.featureID}}" checked />
                                                {{this.name}}
                                            {{else}}
                                                <input type="checkbox" id="{{this.featureID}}" name="feature[]" value="{{this.featureID}}" />
                                                {{this.name}}
                                            {{/ifPresentInArray}}
                                        </label>
                                    </div>
                                {{/each}}
                            {{else}}
                                <p>No features available.</p>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Available Students</label>
                            {{#if studentList}}
                                {{#each studentList}}
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="{{this.studentID}}" name="student[]" value="{{this.studentID}}" />
                                            {{this.name}}
                                        </label>
                                    </div>
                                {{/each}}
                            {{else}}
                                <p>No students available.</p>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <input type="hidden" name="tripID" value="{{tripID}}" />
                <div class="form-group">
                    <input type="submit" name="{{formAction}}" value="{{formAction}}" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<script src="js/datepicker.js"></script>