{{>menu}}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Features</h1>
            <p>View the features for all trips.</p>
            <p>Want to add a new feature? <a href="/customize-feature">Add a new feature here.</a></p>
            {{#if message}}
                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>
            {{/if}}
            {{#if errorMessage}}
                <div class="alert alert-danger" role="alert">
                    {{errorMessage}}
                </div>
            {{/if}}
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Feature Name</th>
                        <th>Trips Found In</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each featureList}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.trips}}</td>
                        <td><a href="/features?delete=1&featureID={{this.featureID}}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
</div>