{{>menu}}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Trips</h1>
            <p>Welcome to the trips portal! See what trips are upcoming and filter by feature.</p>
            <p>Want to add a new trip? <a href="/customize-trip">Add a new trip here.</a></p>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form action="/trips" method="get">
                <div class="form-group">
                    <h4>Filter by Feature</h4>
                </div>
                <div class="form-group">
                    {{#if featureList}}
                        {{#each featureList}}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="{{this.featureID}}" name="feature" value="{{this.featureID}}" />
                                    {{this.name}}
                                </label>
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
                <input type="submit" name="filter" value="Filter" class="btn btn-primary" />
            </form>
        </div>
        <div class="col-md-9">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Price</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Features</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each tripList}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.city}}</td>
                            <td>{{this.country}}</td>
                            <td>${{this.price}}</td>
                            <td>{{this.startDate}}</td>
                            <td>{{this.endDate}}</td>
                            <td>{{this.features}}</td>
                            <td>
                                <form action="#" method="get">
                                    <select class="form-control">
                                        <option value="">Select Action</option>
                                        <option value="{{this.tripID}}">Delete</option>
                                        <option value="{{this.tripID}}">Update</option>
                                    </select>
                                </form>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>